/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
ul li{
    list-style: none;
}
body{
    border: 1px solid black;
}
.logo{
    
    width:100px;
    height:100px;
    margin-top:20px ;
    margin-left: 10px;
}
header{
    border-bottom: 1px solid black;
    padding:10px;
    margin: 10px 0px;
}
.page-header{
    background-color: blue;
    height: 150px;
}
.page-header form{
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}
.page-header form input{
    height: 30px;
}
header navbar{
    border: 1px solid black;
}
header navbar nav ul {
    text-align: center;
    border: 1px solid black;
    padding: 10px;

}
header navbar nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
}
.page-body {
    width:100%;
}
.page-body aside,.page-body section{

    display: inline-block;
    border: 1px solid black;
    margin: 0px 10px;
    vertical-align: top;
}
.page-body aside{
width: 20%;
height: 400px;
}
.page-body section  {
    width: 50%;
    
    
}

aside ul li{
    margin:15px 0px ;
    
}
a{
    text-decoration: none;
}
.post-img{
    width: 150px;
    height: 200px;
    
}
.row .post-img{
    display: inline-block;
    margin: 7spx;

}
footer{
    border: 1px solid black ;
    padding:10px;
    margin: 5px;
}